.subscribe-section {
    background-image: url(../img/Pattern.png);
    padding: 117px 0px;
    background-size: cover;
}

.subscribe-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-text span {
    font-family: "Oxanium";
    font-size: 64px;
    font-weight: 700;
    color: #F5FBF2;
}

.subscribe-input-email {
    padding: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-input-email input {
    padding: 30px 195px 30px 53px;
    background: none;
    border: 1px solid #E7B226;
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 24px;
    color: #A48EA9;
}

.subscribe-input-email button {
    background: #E7B226;
    padding: 32px 63px 31px 63px;
    margin-left: -3px;
}

.subscribe-input-email button a {
    font-family: "Work Sans";
    color: #251928;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}